
.b-table {
  float: left;
  padding: 5px;
  border: 5px;
  margin: 30px;
  height: 500px
}

.a-table {
  float: left;
  padding: 5px;
  border: 5px;
  margin: 10px;
}

th {
  font-size: 20px;
}

.box {
  border: 2px;
  border-style: solid;
}

.sub {
  font-weight: bold;
}

.a-tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: 340px;
    text-align: left;
    border-radius: 3px;
    white-space: pre-line;
    background: #fff;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
    color: #2c2c2c;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
    overflow: visible;
  
    /* Position of the tooltip */
    position: absolute;
    z-index: 999999;
    bottom: 120%;
    left: 50%; 
    margin-left: -120px;
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  
  }
  
}

